<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Skillmap</title>
    </head>
    <body ng-controller="CategoryController as categorys">
        <h1>Skillmap of lassediercks</h1>
        <p>right now these skills and levels are created without evaluation or feedback</p>
        <div class="skillmap">
            <div class="category" ng-repeat="category in categorys.CATNAME">
                <div class="category-title">
                    {{category.name}}
                </div>
                <div
                    class="skill"
                    ng-repeat="skill in category.skills">
                    <span class="title">
                        {{skill.name}}
                    </span>

                    <div ng-if="skill.level != null" class="skill-level skill-level-{{skill.level}}">
                        <div class="skill-level-bar">
                        </div>
                        <div class="skill-level-seperator"></div>
                        <div class="skill-level-seperator"></div>
                        <div class="skill-level-seperator"></div>
                        <div class="skill-level-seperator"></div>
                        <div class="skill-level-seperator"></div>
                    </div>

                </div>

            </div>
        </div>

    </body>

    <script src="/bundle.js"></script>
</html>

