<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Skillmap</title>
    </head>
    <body ng-controller="CategoryController as categorys">
        <div class="skillmap">
            <div class="category" ng-repeat="category in categorys.CATNAME">
                <div class="category-title">
                    {{category.name}}
                </div>
                <div
                    class="skill"
                    ng-repeat="skill in category.skills">
                    <span class="title">
                        {{skill.name}}
                    </span>
                    <div class="skill-level skill-level-{{skill.level}}">
                        <div class="skill-level-bar"></div>
                    </div>
                </div>

            </div>
        </div>

    </body>

    <script src="/bundle.js"></script>
</html>

